<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ed2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="es.ucm.fdi.emf.model.ed2.presentation.Ed2ModelWizardID"
            name="%_UI_Ed2ModelWizard_label"
            class="es.ucm.fdi.emf.model.ed2.presentation.Ed2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Ed2ModelFile.gif">
         <description>%_UI_Ed2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ed2 -->
      <editor
            id="es.ucm.fdi.emf.model.ed2.presentation.Ed2EditorID"
            name="%_UI_Ed2Editor_label"
            icon="icons/full/obj16/Ed2ModelFile.gif"
            extensions="ed2"
            class="es.ucm.fdi.emf.model.ed2.presentation.Ed2Editor"
            contributorClass="es.ucm.fdi.emf.model.ed2.presentation.Ed2MultipageActionBarContributor">
            <!--contributorClass="es.ucm.fdi.emf.model.ed2.presentation.Ed2ActionBarContributor">-->
      </editor>
   </extension>

</plugin>
