<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramExporters">
      <diagramexporter
            class="es.ucm.fdi.edd.graphiti.diagram.EDDDiagramExporter"
            type="edd">
      </diagramexporter>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="es.ucm.fdi.edd.graphiti.diagram.EDDDiagramTypeProvider"
            description="Editor for EDD Diagrams"
            id="es.ucm.fdi.edd.graphiti.diagram.eddDiagramTypeProvider"
            name="EDD Diagram Type Provider">
         <diagramType
               id="es.ucm.fdi.edd.graphiti.diagram.eddDiagramType">
         </diagramType>
         <imageProvider
               id="es.ucm.fdi.edd.graphiti.diagram.eddImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="Erlang Declarative Debugger Diagram"
            id="es.ucm.fdi.edd.graphiti.diagram.eddDiagramType"
            name="EDD Diagram Type"
            type="edd">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="es.ucm.fdi.edd.graphiti.diagram.EDDImageProvider"
            id="es.ucm.fdi.edd.graphiti.diagram.eddImageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
               targetID="org.eclipse.debug.ui.DebugPerspective">
            <view
                  id="es.ucm.fdi.edd.graphiti.views.EDDView"
                  minimized="false"
                  ratio="0.5"
                  relationship="stack"
                  relative="org.eclipse.debug.ui.BreakpointView">
            </view>
         </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="es.ucm.fdi.edd.ui.category"
            name="EDD">
      </category>
      <view
            category="es.ucm.fdi.edd.graphiti.category"
            class="es.ucm.fdi.edd.graphiti.views.EDDView"
            icon="icons/sample.gif"
            id="es.ucm.fdi.edd.graphiti.views.EDDView"
            name="EDD View">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
         <factory
			adaptableType="org.eclipse.graphiti.ui.platform.GraphitiConnectionEditPart"
			class="es.ucm.fdi.edd.graphiti.property.GraphitiEditPartToIPropertySourceAdapterFactory">
			<adapter
				type="org.eclipse.ui.views.properties.IPropertySource">
			</adapter>
		</factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="es.ucm.fdi.edd.graphiti.propertyContributor">
         <propertyCategory
               category="Graphiti">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="es.ucm.fdi.edd.graphiti.propertyContributor">
         <propertyTab
               category="Graphiti"
               id="es.ucm.fdi.edd.graphiti.propertyTabs.main"
               label="Main">
         </propertyTab>
         <propertyTab
               category="Graphiti"
               id="es.ucm.fdi.edd.graphiti.propertyTab.table"
               label="Table">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="es.ucm.fdi.edd.graphiti.propertyContributor">
         <propertySection
               class="es.ucm.fdi.edd.graphiti.property.TutorialEClassSection"
               filter="es.ucm.fdi.edd.graphiti.property.TutorialEClassFilter"
               id="es.ucm.fdi.edd.graphiti.propertySection.TutorialEClassSection"
               tab="es.ucm.fdi.edd.graphiti.propertyTabs.main">
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="es.ucm.fdi.edd.graphiti.propertySection.AdvancedPropertySection"
               tab="es.ucm.fdi.edd.graphiti.propertyTab.table">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
