<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="es.ucm.fdi.edd.ui.views.GraphvizView"
               minimized="false"
               ratio="0.5"
               relationship="stack"
               relative="es.ucm.fdi.edd.graphiti.views.EDDView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="es.ucm.fdi.edd.ui.category"
            name="EDD">
      </category>
      <view
            category="es.ucm.fdi.edd.ui.category"
            class="es.ucm.fdi.edd.ui.views.GraphvizView"
            icon="icons/sample.gif"
            id="es.ucm.fdi.edd.ui.views.GraphvizView"
            name="Graphviz View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="es.ucm.fdi.edd.ui.category"
            name="EDD">
      </category>
      <wizard
            category="es.ucm.fdi.edd.ui.category"
            class="es.ucm.fdi.edd.ui.wizards.EDDQuestionsWizard"
            icon="icons/sample.gif"
            id="es.ucm.fdi.edd.ui.wizards.EDDQuestionsWizard"
            name="EDD Questions Wizard">
      </wizard>
   </extension>

</plugin>
